/* Todo Global styling  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --mainColor: #795548;
  --subColor: #333;
}

.list-unstyled {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.section-padding {
  padding-top: 50px;
}

.section-header {
  text-align: center;
  margin: 40px 0;
}

.section-header .section-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.section-header .line {
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 0 auto;
  margin-bottom: 30px;
  transition: width 0.2s ease;
}

.section-header:hover .line {
  width: 150px;
}

/* ! header  */

header {
  padding: 30px 0;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* * general ul li style */

header .header-content ul li {
  display: inline-block;
}

header .header-content ul li,
header .header-content ul li a {
  color: var(--subColor);
}

header .header-content img {
  flex: 1;
  max-width: 150px;
}

header .header-content nav {
  flex: 3;
  text-align: center;
}

header .header-content .login {
  flex: 1;
  text-align: right;
}

header .header-content .login ul li {
  padding: 10px;
  font-weight: bold;
}

header .header-content .login ul li:last-child i {
  position: relative;
}

header .header-content .login ul li:last-child i:after {
  position: absolute;
  content: "0";
  background: var(--mainColor);
  color: #fff;
  bottom: 0px;
  right: -11px;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 10px;
}

/* Todo  hover &&  drop down */

/* ! hover  */

header .header-content ul li .link-item {
  padding: 10px 10px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

header .header-content ul li .link-item::before {
  content: "";
  position: absolute;
  border-width: 0 2px;
  border-color: var(--mainColor);
  border-style: solid;
  width: 99%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s transform ease;
  transform: scale3d(1, 0, 1);
}

header .header-content ul li .link-item:hover::before {
  transform: scale3d(1, 1, 1);
}

header .header-content ul li .link-item::after {
  content: "";
  position: absolute;
  border-width: 2px 0;
  border-color: var(--mainColor);
  border-style: solid;
  width: 100%;
  height: 91%;
  bottom: 0;
  right: 0;
  transition: 0.3s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
}

header .header-content ul li .link-item:hover::after {
  transform: scale3d(1, 1, 1);
}

/* ! dropdown  */

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdowm-menu {
  position: absolute;
  width: 500px;
  border: 2px solid var(--mainColor);
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdowm-menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.dropdowm-menu ul {
  display: table-cell;
  text-align: left;
}

.dropdowm-menu ul li {
  line-height: 1.7;
}

.dropdowm-menu ul li:first-child a {
  display: block !important;
  margin-bottom: 10px;
  border-bottom: 2px dotted var(--mainColor);
}

/* ! Slider  */

section.slider img {
  width: 100%;
}

.dot {
  position: relative;
}

.dot li.first,
.dot li.second {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  margin-left: 500px;
  border-radius: 50%;
  transform: scale(1);
}

.dot li.second {
  margin-left: 520px;
  background-color: #000;
  transform: scale(1);
}

.dot li:hover {
  background-color: var(--mainColor);
  transform: scale(1.5);
}

/* ! catagory  */

.catagory-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.catagory-item {
  position: relative;
}

.catagory-item img {
  width: 100%;
  margin-bottom: 20px;
}

.catagory-item-subtitle {
  color: grey;
  font-weight: normal;
  margin-bottom: 20px;
}

.catagory-items .icon {
  width: 30px;
  height: 30px;
  background-color: var(--mainColor);
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.catagory-items:hover .icon {
  visibility: visible;
  opacity: 1;
}

.catagory-dots {
  position: relative;
  margin-top: 50px;
}

.catagory-dots ul {
  position: absolute;
}

.catagory-dots ul li.first {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #000;
  margin-left: 510px;
  border-radius: 50%;
  text-align: center;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.catagory-dots ul li.first:hover {
  transform: scale(1.5);
}

.catagory-dots ul li.second {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--mainColor);
  margin-left: 530px;
  border-radius: 50%;
  text-align: center;
}

.catagory-dots ul li.second:hover {
  transform: scale(1.5);
}

/* ! discount  */

.discount {
  margin: 100px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
}

.discount .discount-desc {
  background-color: rgb(231, 213, 236);
}

.discount .discount-desc .top {
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}

.discount .discount-desc .top .icon {
  position: absolute;
  left: -50px;
  top: 0;
  color: var(--mainColor);
  font-size: 2.5rem;
}

.discount .discount-desc .top .discount-title {
  font-size: 20px;
  margin-left: 25px;
}

.discount .discount-desc .top .discount-subtitle {
  font-size: 20px;
  margin-left: 25px;
  color: grey;
}

.discount .discount-desc p {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 1.5;
  color: grey;
}

.discount .discount-item:nth-child(2) {
  background-image: url("/images/cms-banner-1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.discount .discount-item:nth-child(2):hover {
  transform: scale(1.2);
}

.discount .discount-item:nth-child(2) .discount-item-info,
.discount .discount-item:nth-child(3) .discount-item-info {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
}

.discount .discount-item:nth-child(2) .discount-item-info h2,
.discount .discount-item:nth-child(3) .discount-item-info h2 {
  margin-top: 5px;
}

.discount .discount-item:nth-child(3) {
  background-image: url("/images/cms-banner-2.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.discount .discount-item:nth-child(3):hover {
  transform: scale(1.2);
}

/* ! bullets span  */

.discount-desc .bullets {
  overflow: hidden;
  margin-top: 40px;
}

.discount-desc .bullets span {
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: grey;
  top: 0;
  left: 20 px;
  line-height: 2;
  float: right;
}

.discount-desc .bullets span:nth-child(1) {
  margin-right: 20px;
}

.discount-desc .bullets span:nth-child(2),
.discount-desc .bullets span:nth-child(3) {
  margin-right: 10px;
}

.discount-desc .bullets span:nth-child(1):hover,
.discount-desc .bullets span:nth-child(2):hover,
.discount-desc .bullets span:nth-child(3):hover {
  background-color: var(--mainColor);
}

/* ! Spirite */

.sprites {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 100px;
}

.sprite-item {
  text-align: center;
  border-right: 1px solid var(--mainColor);
}

.sprite-icon {
  background-image: url("/images/service-icon.png");
  height: 60px;
  background-repeat: no-repeat;
}

.sprite-icon-1 {
  background-position: center 5px;
  transition: background-position 0.4s ease;
}

.sprite-icon-1:hover {
  background-position: center -95px;
}

.sprite-icon-2 {
  background-position: center -180px;
  transition: background-position 0.4s ease;
}

.sprite-icon-2:hover {
  background-position: center -270px;
}

.sprite-icon-3 {
  background-position: center -366px;
  transition: background-position 0.4s ease;
}

.sprite-icon-3:hover {
  background-position: center -460px;
}

.sprite-icon-4 {
  background-position: center -554px;
  transition: background-position 0.4s ease;
}

.sprite-icon-4:hover {
  background-position: center -640px;
}

.sprite-icon-5 {
  background-position: center -740px;
  transition: background-position 0.4s ease;
}

.sprite-icon-5:hover {
  background-position: center -830px;
}

.sprite-item:last-child {
  border-right: 0;
}

.sprite-item .sprite-info h3 {
  font-size: 16px;
}

.sprite-item .sprite-info span {
  font-size: 15px;
  color: grey;
}

/* ! products  */

.list-products {
  text-align: center;
}

.list-products li {
  display: inline-block;
}

.list-products li a {
  display: block;
  font-size: 16px;
  padding: 0 10px;
  color: #000;
  transition: color 0.3s ease;
  font-weight: bold;
}

.list-products li a:hover {
  color: var(--mainColor);
}

/* ! hover image over image  */

.products-items {
  margin-top: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.product-img {
  position: relative;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.product-item:hover .product-overlay {
  transform: scaleX(1);
}

.product-overlay ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-overlay ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--mainColor);
  text-align: center;
}

.product-overlay ul li i {
  color: #fff;
  line-height: 40px;
}

.product-info i {
  color: yellow;
}

.product-info i:nth-child(4),
.product-info i:nth-child(5) {
  color: grey;
}

.product-info i.icon {
  color: yellow;
}

.product-info span {
  color: grey;
  font-size: 15px;
}

.product-info h4 {
  margin-top: 8px;
}

/* ! event sections  */

.events {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.events .event-items {
  position: relative;
}

.events .event-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-info {
  background: rgb(251, 210, 210);
  margin-bottom: 4px;
}

.event-info-overlay {
  overflow: hidden;
  margin: 35px;
}

.event-info-overlay .event-info-left {
  float: left;
  color: var(--mainColor);
}

.event-info-overlay .event-info-left h3 {
  font-size: 40px;
}

.event-info-overlay .event-info-left h4 {
  font-size: 14px;
  margin-top: 5px;
}

.event-info-overlay .event-info-right {
  padding-top: 5px;
  font-weight: bold;
}

.overlay-desc {
  margin: 40px;
  color: grey;
  font-size: 15px;
  font-family: sans-serif !important;
  line-height: 1.5;
}

.info-lists {
  margin-top: 60px;
}

.info-lists span {
  display: inline-block;
  width: 50px;
  height: 2px;
  float: right;
  margin: 0 6px;
  background-color: grey;
}

.info-lists span.active {
  background-color: var(--mainColor);
}

.info-lists span:first-child {
  margin-right: 25px;
}

.info-lists span:hover {
  background-color: var(--mainColor);
}

/* ! product spirit icon second  */

.product-spirit-second {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 40px;
}

/* ! Footer  */

.footer {
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 130px;
}

.footer .footer-downloads {
  float: left;
  width: 30%;
  margin: 0 5%;
}

.footer .footer-downloads img,
.footer-subscribe {
  margin-top: 20px;
}

.footer-downloads p {
  margin-top: 50px;
  font-size: 15px;
  color: grey;
  line-height: 1.5;
}

.footer-downloads-info {
  margin-top: 20px;
}

.footer-lists {
  float: left;
  width: 30%;
  margin: 32px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
}

.footer-lists .footer-list-1,
.footer-lists .footer-list-2,
.footer-subscribe {
  font-size: 16px;
}

.footer-lists .footer-list-1 h3,
.footer-lists .footer-list-2 h3 {
  font-size: 20px;
}

.footer-lists .footer-list-1 ul,
.footer-lists .footer-list-2 ul {
  margin-top: 30px;
}

.footer-lists .footer-list-1 ul li,
.footer-lists .footer-list-2 ul li {
  color: grey;
  padding-bottom: 20px;
}

.footer-subscribe {
  padding-top: 11px;
  float: right;
}

.footer-lists .footer-subscribe h3 {
  font-size: 20px;
}

.footer-lists .footer-subscribe .search {
  overflow: hidden;
}

.footer-lists .footer-subscribe input {
  float: left;
}

.footer-lists .footer-subscribe .icon {
  float: right;
}

.footer-two {
  background-color: #000;
  height: 50px;
  border-top: 1px solid grey;
}

.footer-two span {
  padding-left: 30px;
  color: grey;
  font-size: 13px;
  margin-bottom: 10px;
}
